<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>92748264816-09s61891177v8k2fgcd3qdmerlpdt6lc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.92748264816-09s61891177v8k2fgcd3qdmerlpdt6lc</string>
	<key>API_KEY</key>
	<string>AIzaSyBt_ncuMdlxi0wMU-aNGsjyG8L2cRsFE4E</string>
	<key>GCM_SENDER_ID</key>
	<string>92748264816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.melihbuyuk.QooperChat</string>
	<key>PROJECT_ID</key>
	<string>qoopermessage</string>
	<key>STORAGE_BUCKET</key>
	<string>qoopermessage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92748264816:ios:f948f37156595baae30bb5</string>
	<key>DATABASE_URL</key>
	<string>https://qoopermessage.firebaseio.com</string>
</dict>
</plist>